@model IEnumerable<TrumpNews.Models.Article>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div class="row">
        @Html.Partial("_ArticlePostPartial", item);
    </div>
}