@model TrumpNews.Models.Tweet

<div class="panel panel-info">
    <div class="panel panel-body">
        <p class="text-info">@Model.Text</p>
        <div class="tw">@Model.PublishTime</div>
    </div>
</div>